.header {
  grid-column: span 14;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: 3rem;
  padding: 2rem 0;
  background-color: rgba(251, 255, 0, 0.471);
}

.inner {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / 14;
  grid-template-rows: 1fr;
}

.logo {
  grid-column: span 2;
  grid-row: span 2;
  display: grid;
  place-items: center;
  background-color: blanchedalmond;
}

.h1 {
  leading-trim: both;
  text-edge: cap alphabetic;
}

.nav {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 8;
}

.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 1rem;
  /* padding: 0; */
  leading-trim: both;
  text-edge: cap alphabetic;
  font-size: 0.8rem;
}
