* {
  box-sizing: border-box;
}

::-moz-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg);
  border-radius: var(--border-radius);
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  margin: 0;
  width: calc(100vw - var(--scrollbar-width));
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: var(--font-size-md);
  line-height: 1.5;
  color: var(--color-paragraph);
}

.image {
  height: auto;
  width: 100%;
}

.site::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.site::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
}

.site::before,
.site::after {
  z-index: -1;
  content: "";
  left: 20%;
  position: fixed;
  filter: blur(45px);
  transform: translateZ(0);
}
